<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBqCofYi6xK4PjdtBTYsSS4HJmZ4fYdHiw</string>
	<key>GCM_SENDER_ID</key>
	<string>357703751157</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopifyApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>shopify-92b0f</string>
	<key>STORAGE_BUCKET</key>
	<string>shopify-92b0f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357703751157:ios:4ae894aa2b375aa83e7cbc</string>
</dict>
</plist>